extends home
block content
    .row
        .col-sm-12
            .card
                .card-header.bg-primary.py-2
                    h5.text-light Liste globale des utilisateurs
                .card-body
                    #container-alert
                    .dt-responsive.table-responsive.container-table