extends home
block content
    .row
        // Individual Column Searching (Text Inputs) start
        .col-sm-12
            .card
                .card-header.py-2.bg-primary
                    h5.text-light Liste des contribuables
                .card-body
                    #container-alert
                    .dt-responsive.table-responsive.container-table