extends home
block content
    .row
        // customar project  start
        .col-xl-12.col-sm-12
            .card
                .card-body
                    h5.mt-3.mb-3 Cr&eacute;ation de la propriete
                    form.needs-validation(novalidate='')#form-new-vehicule
                        #container-error
                        .row
                            .col-sm-4
                                label.floating-label(for='contribuable') Personne
                                select.js-example-basic-single.col-sm-12#contribuable
                                    if contribuables
                                        each contribuable in contribuables
                                            option(value=`${contribuable.id_contribuable}`)=contribuable.nom
                            .col-sm-4
                                .form-group.fill
                                    label.floating-label(for='type') Type
                                    select#type.form-control.form-control-sm.rounded-0
                                        if types
                                            each type in types
                                                option(value=`${type.id_type_objet}`)=type.designation
                            .col-sm-4
                                label.floating-label(for='articles') Article Budgétaire
                                select.js-example-basic-single.col-sm-12#articles
                            .col-sm-4
                                .form-group
                                    label.floating-label(for='type') Taxe
                                    select#taxe.form-control.form-control-sm.rounded-0
                            .col-sm-4
                                .form-group
                                    label.floating-label(for='chassis') Num&eacute;ro chassis
                                    input.form-control.form-control-sm.rounded-0(type='text' id='chassis' required='')
                            .col-sm-4
                                .form-group
                                    label.floating-label(for='plaque') Num&eacute;ro plaque
                                    input.form-control.form-control-sm.rounded-0(type='text' id='plaque' required='')
                            .col-sm-4
                                .form-group
                                    .form-group.fill
                                        label.floating-label(for='model') Model
                                        input.form-control.form-control-sm.rounded-0(type='text' id='model')
                            .col-sm-4
                                .form-group
                                    label.floating-label(for='marque') marque
                                    input.form-control.form-control-sm.rounded-0(type='text' id='marque')
                            .col-sm-4
                                .form-group.fill
                                    label.floating-label(for='couleur') Couleur
                                    input#couleur.form-control.form-control-sm.rounded-0(type='text')
                            .col-sm-4
                                .form-group.fill
                                    label.floating-label(for='charge') Charge utile
                                    input.form-control.form-control-sm.rounded-0(type='text' id='charge')
                            .col-sm-4
                                .form-group.fill
                                    label.floating-label(for='circulation') Date mise en circulation
                                    input#circulation.form-control.form-control-sm.rounded-0(type='date')
                            .col-sm-4
                                .form-group.fill
                                    label.floating-label(for='category') Catégorie
                                    select#category.form-control.form-control-sm.rounded-0
                                        if categories
                                            each categorie in categories
                                                option(value=`${categorie.id_categorie}`)=categorie.designation
                            .col-sm-12.text-right
                                button.btn.btn-success.rounded-0.btn-sm.mr-2(type='submit') Enregistrer
                                button.btn.btn-danger.rounded-0.btn-sm(type='Reset') Reprendre
        // customar project  end