extends home
block content
    .row
        // customar project  start
        .col-xl-12
            .card
                .card-body
                    h5.mt-3.mb-3 Nouvelle Taxation
                    form.needs-validation(novalidate='')#form-new-taxation
                        #container-error
                        .row
                            .col-sm-4
                                .form-group.fill
                                    label.floating-label(for='service') Service assiette
                                    select#service.form-control.form-control-sm.rounded-0(required='')
                                        option(disabled selected) Choisir service
                                        if services
                                        each service in services
                                            option(value=`${service.id_serviceAssiette}`)=service.designation
                            .col-sm-4
                                .form-group
                                    label.floating-label(for='taxe') Taxe
                                    select#taxe.form-control.rounded-0.form-control-sm(required='')
                            .col-sm-4
                                .form-group
                                    label.floating-label(for='nom_declarant') Nom déclarant
                                    input.form-control.rounded-0.form-control-sm(type='text' id='nom_declarant' required='')
                            .col-sm-4
                                .form-group
                                    label.floating-label(for='telephone_declarant') T&eacute;l&eacute;phone receptionniste
                                    input.form-control.rounded-0.form-control-sm(type='text' id='telephone_declarant' required='')
                            .col-sm-4
                                .form-group.fill
                                    label.floating-label(for='Exercice') Exercice
                                    select#exercice.form-control.form-control-sm.rounded-0(required='')
                                        if exercices
                                        each exercice in exercices
                                            option(value=`${exercice.id_exercice}`)=exercice.annee
                            .col-sm-4
                                .form-group.fill
                                    label.floating-label(for='echeance') Echéance
                                    select#echeance.form-control.form-control-sm.rounded-0(disabled)
                                        option(selected disabled value='') Choix échéance
                                        option(value='1') Premier semestre
                                        option(value='2') Deuxième semestre
                            .col-sm-12.mb-3
                                label.floating-label(for='contribuable') Contribuable
                                select.form-control.form-control-sm.rounded-0#contribuable
                                    option(disabled selected) Choisir contribuable
                                    if contribuables
                                        each contribuable in contribuables
                                            option.f-15(value=`${contribuable.id_contribuable}`)=contribuable.nom
                            .col-sm-12.mb-3
                                label.floating-label(for='vehicule') Choix des vehivules
                                select#vehicule.form-control.rounded-0.form-control-sm(multiple='multiple')
                            .col-sm-12.text-right
                                button.btn.btn-success.rounded-0.mr-2(type='Submit') Valider