extends home
block content
    .row
        // customar project  start
        .col-xl-12
            .card
                .card-body
                    h5.mt-3.mb-3 Attestation
                    form.needs-validation(novalidate='').form-new-attestation
                        #container-error
                        .row
                            .col-sm-4
                                .form-group
                                    label.floating-label(for='d-attestation') Date attestation
                                    input.form-control-sm.form-control.rounded-0(type='date' id='d-attestation' required='')
                            .col-sm-4
                                label.floating-label(for='taxation') Taxation
                                select.js-example-basic-single.col-sm-12#taxation
                                    if taxations
                                    each taxation in taxations
                                        option(value=`${taxation.id_taxation}`)=`${taxation.num_taxation+' | '+taxation.date_taxation.toLocaleString('en-FR',{year: "numeric", month: "numeric", day: "numeric"})+' | '+taxation.date_validation.toLocaleString('en-FR',{year: "numeric", month: "numeric", day: "numeric"})+' | '+taxation.montant+' | '+taxation.devise }`
                            .col-sm-4
                                .form-group
                                    label.floating-label(for='montant') Montant
                                    input#montant.form-control.form-control-sm.rounded-0(type='text' required='')
                            .col-sm-4
                                .form-group
                                    label.floating-label(for='m-penalite') Montant Penalite
                                    input.form-control.form-control-sm.rounded-0(type='text' id='m-penalite' required='')
                            .col-sm-4
                                .form-group
                                    label.floating-label(for='m-global') Montant global
                                    input.form-control.form-control-sm.rounded-0(type='text' id='m-global' required='')
                            .col-sm-4
                                .form-group
                                    label.floating-label(for='n-bordereau') Numero bordereau
                                    input.form-control.form-control-sm.rounded-0(type='text' id='n-bordereau' required='')
                            .col-sm-4
                                .form-group
                                    label.d-block Avis
                                    .custom-control.custom-radio.custom-control-inline
                                        input#customCheckinl1.custom-control-input.input-primary(type='radio' value='favorable' name='avis')
                                        label.custom-control-label(for='customCheckinl1') Favorable
                                    .custom-control.custom-radio.custom-control-inline
                                        input#customCheckinl2.custom-control-input.input-primary(type='radio' value='defavorable' name='avis')
                                        label.custom-control-label(for='customCheckinl2') Non favorable
                            .col-sm-12.text-right
                                button.btn.btn-success.rounded-0.btn-sm.mr-2(type='Submit') Enregistrer
        // customar project  end