extends home
block content
    .row
        .col-sm-12
            .card
                .card-header.bg-primary.py-2
                    h5.text-light Note de calcul
                .card-body
                    .dt-responsive.table-responsive.container-table