extends home
block content
    .row
        .col-sm-12
            .card
                .card-header.bg-primary.py-2
                    h5.text-light TAUX
                .card-body
                    #container-alert
                    .container-form.d-flex.flex-column
                        a.btn.mb-1.btn-primary.btn-sm.rounded-0.mb-2.align-self-end(data-toggle='collapse' href='#multiCollapseExample1' role='button' aria-expanded='false' aria-controls='multiCollapseExample1')
                            i.feather.icon-plus
                            |  Nouveau taux
                        #multiCollapseExample1.collapse.multi-collapse.mt-2
                            .card.shadow-none
                                .card-body.p-0
                                    form.needs-validation.mb-2(novalidate='')#form-new-taux
                                        #container-error
                                        .row
                                            .col-md-6
                                                .form-group
                                                    label.floating-label(for='valeur') Valeur
                                                    input.form-control.form-control-sm(type='number' id='valeur' required='')
                                            .col-md-6
                                                .form-group
                                                    label.floating-label(for='devise') Devise
                                                    select.form-control.form-control-sm#devise
                                                        option(value='CDF' selected) CDF
                                                        option(value='USD') USD
                                            .col-md-12
                                                .float-right
                                                    button.btn.btn-success.btn-sm.save-add.rounded-0.mr-2(type='submit') Enregistrer
                    .dt-responsive.table-responsive.container-table