html{
    -webkit-print-color-adjust: exact;
}

.page-note {
    padding: 5px;
    background: #fff;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 13px;
    -webkit-print-color-adjust: exact;
}

h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}

/* .sub-page {
    background: url('http://127.0.0.1:5100/images/ville.jpg') no-repeat center;
    background-size: contain;
} */

.top-bar{
    display: flex;
    justify-content: space-between;
}

.top-bar .logo{
    width: 50px;
}

.logo img{
    width: 100%;
}

.top-bar span{
    display:block;
}

.top-bar .ministere{
    font-weight: 600;
}

.title-document{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-document h1{
    font-size: 21px;
    line-height: normal;
    font-weight: 900;
}

.site-ref{
    margin: 10px 0;
}

table{
    width: 100%;
    border-collapse: collapse;
    font-size: 11px;
}

.row-site-ref td{
    border: 1px solid #000;
    padding: 5px;
}

.site,.ref{
    font-size: 17px !important;
}

.site span,.ref span{
    font-weight: 600;
}

.bloc-contribuable{
    margin-top: 10px;
}

.bloc-taxateur h2,.bloc-contribuable h2{
    border-bottom: 1px solid #000;
    font-weight: 600;
    font-size: 12px;
}

.bloc-taxateur table th,td,.bloc-contribuable table th,td{
    line-height: 20px;
    text-align: left;
}

.bloc-taxateur table th,.bloc-contribuable table th{
    font-weight: 600;
}

.bloc-contribuable table th{
    width: 150px;
}

#sub-table table tr td, #sub-table table tr th{
    border: 1px solid #000;
}