.row
    // customar project  start
    .col-xl-3.col-md-6
        .card
            .card-body
                .row.align-items-center.m-l-0
                    .col-auto
                        i.fas.fa-user-md.f-36.text-info
                    .col-auto
                        h6.text-muted.m-b-10 Agent
                        h2.m-b-0 0
    .col-xl-3.col-md-6
        .card
            .card-body
                .row.align-items-center.m-l-0
                    .col-auto
                        i.fas.fa-user-injured.f-36.text-danger
                    .col-auto
                        h6.text-muted.m-b-10 Assujetits
                        h2.m-b-0 0
    .col-xl-3.col-md-6
        .card
            .card-body
                .row.align-items-center.m-l-0
                    .col-auto
                        i.fas.fa-user-nurse.f-36.text-success
                    .col-auto
                        h6.text-muted.m-b-10 Vehicules
                        h2.m-b-0 0
    .col-xl-3.col-md-6
        .card
            .card-body
                .row.align-items-center.m-l-0
                    .col-auto
                        i.fas.fa-prescription-bottle-alt.f-36.text-primary
                    .col-auto
                        h6.text-muted.m-b-10 Taxations
                        h2.m-b-0 0
    .col-xl-3.col-md-6
        .card
            .card-body
                .row.align-items-center.m-l-0
                    .col-auto
                        i.fas.fa-flask.f-36.text-warning
                    .col-auto
                        h6.text-muted.m-b-10 Ordonnancement
                        h2.m-b-0 0
    .col-xl-3.col-md-6
        .card
            .card-body
                .row.align-items-center.m-l-0
                    .col-auto
                        i.fas.fa-user-tie.f-36.text-primary
                    .col-auto
                        h6.text-muted.m-b-10 Attestations
                        h2.m-b-0 0
    .col-xl-3.col-md-6
        .card
            .card-body
                .row.align-items-center.m-l-0
                    .col-auto
                        i.fas.fa-file-invoice-dollar.f-36.text-danger
                    .col-auto
                        h6.text-muted.m-b-10 Payment
                        h2.m-b-0 79
    .col-xl-3.col-md-6
        .card
            .card-body
                .row.align-items-center.m-l-0
                    .col-auto
                        i.fas.fa-pills.f-36.text-info
                    .col-auto
                        h6.text-muted.m-b-10 Medicine
                        h2.m-b-0 10
    // customar project  end