nav.pc-sidebar
    .navbar-wrapper
        .m-header.bg-dark
            a.b-brand(href='/home')
                // ========   change your logo hear   ============
                img.logo.logo-lg(src='/images/Logo.png' alt='' width=120)
                //img.logo.logo-sm(src='/images/Logo.png' alt='')
        .navbar-content
            ul.pc-navbar
                li.pc-item.pc-hasmenu
                    a.pc-link(href='/home')
                        span.pc-micon
                            //i(data-feather='home')
                        span.pc-mtext Tableau de bord
                li.pc-item.pc-hasmenu
                    a.pc-link(href='#!')
                        span.pc-micon
                            //i(data-feather='users')
                        span.pc-mtext Contribuable
                        span.pc-arrow
                            i(data-feather='chevron-right')
                    ul.pc-submenu
                        li.pc-item
                            a.pc-link(href='/home/new-person') Nouveau contribuable
                        li.pc-item
                            a.pc-link(href='/home/all-person') Liste Contribuable
                        li.pc-item
                            a.pc-link(href='/home/new-vehicule') Nouveau vehicule
                        li.pc-item
                            a.pc-link(href='/home/all-vehicule') Liste Vehicule
                li.pc-item.pc-hasmenu
                    a.pc-link(href='#!')
                        span.pc-micon
                            //i.fas.fa-donate
                        span.pc-mtext Taxation
                        span.pc-arrow
                            i(data-feather='chevron-right')
                    ul.pc-submenu
                        li.pc-item
                            a.pc-link(href='/home/new-taxation') Nouvelle Taxation
                        li.pc-item
                            a.pc-link(href='/home/all-taxation') Liste Taxation
                        li.pc-item
                            a.pc-link(href='/home/all-taxation-validate') Taxation validée
                li.pc-item.pc-hasmenu
                    a.pc-link(href='/home/note')
                        span.pc-micon
                            //i.fas.fa-file-invoice-dollar
                        span.pc-mtext Note de calcul
                li.pc-item.pc-hasmenu
                    a.pc-link(href='#!')
                        span.pc-micon
                            //i.fas.fa-file-alt
                        span.pc-mtext Attestation
                        span.pc-arrow
                            i(data-feather='chevron-right')
                    ul.pc-submenu
                        li.pc-item
                            a.pc-link(href='/home/new-attestation') Nouvel attestation
                        li.pc-item
                            a.pc-link(href='/home/all-attestation') Liste Attestation
                li.pc-item.pc-hasmenu
                    a.pc-link(href='#!')
                        span.pc-micon
                            //i.fas.fa-folder-open
                        span.pc-mtext Rapports
                        span.pc-arrow
                            i(data-feather='chevron-right')
                    ul.pc-submenu
                        li.pc-item
                            a.pc-link(href='/home/parts') Part dosec
                li.pc-item.pc-hasmenu
                    a.pc-link(href='/home/api-dosec')
                        span.pc-micon
                            //i.fas.fa-database
                        span.pc-mtext API
                li.pc-item.pc-hasmenu
                    a.pc-link(href='#!')
                        span.pc-micon
                            //i.fas.fa-user-cog
                        span.pc-mtext Administration
                        span.pc-arrow
                            i(data-feather='chevron-right')
                    ul.pc-submenu
                        li.pc-item
                            a.pc-link(href='/home/new-user') Utilisateur
                        li.pc-item
                            a.pc-link(href='/home/all-user') Liste Utilisateur
